{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <!-- Заголовок страницы -->
    <div class="page-header">
      <h1>{{ _('Set Secret') }}</h1>
    </div>

    <!-- Форма -->
    <form role="form" id="password_create" method="post" autocomplete="off">
      <!-- Верхняя строка -->
      <div class="row-flex margin-bottom-10">
        <textarea
          rows="8"
          id="password"
          name="password"
          class="textarea-password"
          placeholder="{{ _('Your generated password or secret will appear here.') }}"
          required>{{ random_password }}</textarea>
          <div class="column-flex expire-time-container">
            <label for="ttl" class="expire-time-label">{{ _('Expire time') }}</label>
            <select class="form-control select-ttl expire-time-select" name="ttl" id="ttl">
              <option value="Two Weeks">{{ _('Two Weeks') }}</option>
              <option value="Week" selected="selected">{{ _('Week') }}</option>
              <option value="Day">{{ _('Day') }}</option>
              <option value="Hour">{{ _('Hour') }}</option>
            </select>
        </div>
        <button type="submit" class="button button-submit" id="submit">{{ _('Generate URL') }}</button>
      </div>


      <!-- Нижняя строка -->
      <div class="row-flex">
        <div class="column-flex">
          <label for="password_length">{{ _('Length') }}</label>
          <input
            type="number"
            id="password_length"
            class="form-control input-length"
            value="24"
            min="1"
            max="128"
          />
        </div>
        <button type="button" id="generate_password" class="button button-generate">
          {{ _('Generate Password') }}
        </button>
      </div>
    </form>
  </section>
</div>
{% endblock %}
