{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h1>{{ _('Set secret') }}</h1>
    </div>

    <form role="form" id="password_create" method="post" autocomplete="off">
      <p id="char-counter" class="char-counter below-textarea">
        {{ _('Characters remaining: ') }} <span id="remaining">4096</span>
      </p>
      <div class="row-flex">
        <!-- Левая секция: textarea -->
        <div class="column-flex" style="flex: 1;">
          <textarea
            rows="8"
            maxlength="4096"
            id="password"
            name="password"
            class="textarea-password"
            placeholder="{{ _('Your generated password or secret will appear here.') }}"
            required></textarea>
        </div>

        <!-- Правая секция: кнопки -->
        <div class="column-flex" style="flex-shrink: 0; margin-right: 325px;">
          <div class="column-gen" style="flex-shrink: 0; margin-right: 025px;">
            <button type="submit" class="button button-submit" id="submit">{{ _('Generate URL') }}</button>
            </div>
          <label for="ttl" class="expire-time-label">{{ _('URL expire time') }}</label>
          <select class="form-control select-ttl expire-time-select" name="ttl" id="ttl">
            <option value="Month">{{ _('Month') }}</option>
            <option value="Two Weeks">{{ _('Two Weeks') }}</option>
            <option value="Week" selected="selected">{{ _('Week') }}</option>
            <option value="Day">{{ _('Day') }}</option>
            <option value="Hour">{{ _('Hour') }}</option>
          </select>
          <div class="column-flex" style="flex-shrink: 0;">
            <div class="col-sm-6">
                <button title="{{ _('Copy to clipboard') }}" type="button" class="btn btn-primary copy-clipboard-btn-set"
                        id="copy-clipboard-btn" data-clipboard-target="#password"
                        data-placement='bottom'>
                    <i class="fa fa-clipboard"></i>
                </button>
            </div>
        </div>
          </div>
      </div>

      <div class="row-flex">
        <div class="row-flex">
          <div>
            <label for="password_length">{{ _('Length') }}</label>
            <input
              type="number"
              id="password_length"
              class="form-control input-length"
              value="24"
              min="1"
              max="512"
            />
          </div>
          <button
            type="button"
            id="generate_password"
            class="button button-generate"
          >
            {{ _('Generate Password') }}
          </button>
        </div>
        <div class="checkbox-wrapper">
          <input type="checkbox" id="special_symbols" class="checkbox" checked />
          <span class="checkbox-custom"></span>
        </div>      
        <div id="special_symbols_container" class="special-symbols-form" style="display: block;">
          <label for="custom_symbols" class="bold-label">{{ _('Custom special symbols') }}</label>
          <input
            type="text"
            maxlength="48"
            id="custom_symbols"
            class="form-control"
            placeholder="{{ _('Enter special symbols here') }}"
          />
        </div>
      </div>
      <div id="slider" class="slider-container" style="flex-shrink: 0;">
       <input type="range" id="password_slider" min="1" max="64" value="32" step="1" class="slider" />
      </div>
    </form>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/themes/theme-toggle.js"></script>
{% endblock %}